div {
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.1em;
  padding: 5px;
  font-family: "Do Hyeon", sans-serif;
  border: 0.1em solid black;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: pink;
  margin-bottom: 10px;
  width: 400px;
}
button:hover {
  cursor: pointer;
  box-shadow: 3px 3px #888888;
  background-color: springgreen;
}
